* {
	/*font-family: 'Roboto Slab', serif;*/

}
body, html {
	/*background: linear-gradient(-90deg, #EEEEEE, white);*/
	height: 100%;
}
#app {
	height: 100%;
}
/* testing out the css loader */
.parallax {
    /* The image used */
    /*background-image: url("https://static.pexels.com/photos/165677/pexels-photo-165677.jpeg");*/
	background-image: url('/img/background-img.jpeg');
    /* Full height */
    height: 100%;
	width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* end test  */
/* Navigation Bar */
.navbar {
	background-color:transparent;
}
.navbar-brand {
	color: white;
	font-size: 1.3rem;
}
.navbar-nav {
	position: absolute;
	right: 2%;
}
.navbar-nav a {
	color: white;
	font-size: 1.3rem;
}
/*     main content area       */
.centerLogo {
	width: 20rem;
	height: auto;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 45%;

}
/* contact   */

/***** Work Section  ****/
.work {
	/*position: absolute;*/
	/*text-align: center;*/
	width: 100%;
}
.workHeader {

	margin-top: 1rem;
	margin-bottom: 2rem;
}
.container {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto);
	grid-template-areas:
		"c i"
		"c i";
}
.projectImageSection {
	/*background-color:#ABECF0;*/
	position: relative;
}
.aboutProject h3{
	color: #9DCAEB;
}
.projectTitle {
	width:100%;
	text-align: center;
}
.peakChoiceImage {
	position: absolute;
	left: 10rem;
	top: -10rem;
	height: auto;
	width: 28rem;
}
.linkToProject:hover {
	transition: all 280ms ease-in-out;
	letter-spacing: 5px;
}
