* {
	font-family: 'Roboto Slab', serif;

}
body, html {
	/*background: linear-gradient(-90deg, #EEEEEE, white);*/
	height: 100%;
}
#app {
	height: 100%;
}
/* testing out the css loader */
.parallax {
    /* The image used */
    /*background-image: url("https://static.pexels.com/photos/165677/pexels-photo-165677.jpeg");*/
	background-image: url('/img/background-img.jpeg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* end test  */
/* Navigation Bar */
.navbar {
	background-color:transparent;
	border: none;
}
.nav-item {
	float:right;
}
.navbar-nav {
	position: absolute;
	right:0%;
}
.navbar-default .navbar-brand {
	font-size:1.7rem;
    color: white;
}
.navbar-default .navbar-nav {
	margin-right: 1rem;
}
.navbar-default .navbar-nav li a {
	font-size: 1.7rem;
    color: white;
}

/*     main content area       */
img {
	width: 20rem;
	height: auto;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 45%;

}
/* contact   */
.contact {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.contact:scroll {
	color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.contact .btn-primary {
	font-family: 'Muli', sans-serif;
	font-size: 2rem;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: white;
}
.contact .btn:focus {
	text-decoration-color: none;
	outline: none;
	box-shadow: none;
}
.contact .btn:hover {
    transition: all 280ms ease-in-out;
	letter-spacing: 3px;
	border: 1px solid rgba(#fff, 0);
}
.contact-p {
	margin-left: auto;
	margin-right: auto;
}
.contact .signature {
	font-family: 'Mr Dafoe', cursive;
	margin: auto;
	font-size: 2rem;
	letter-spacing: .5rem;
	color: white;
}
.contact .card-body {
	height: 8vh;
}
.contact .social {
	position: absolute;
	left: 1rem;
	top: 2.3rem;
}
.social a {
	color: white;
}
.spaces {
	height: 60rem;
}
/***** Work Section  ****/
.workHeader {
	text-align: center;
}
.work {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}
